@using Twitter.App.Models.ViewModels
@model IQueryable<TweetViewModel>

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <ul class="tweets"></ul>
    </div>
</div>
<div>
    @{for (int i = 0; i < Model.Count(); i++)
        {
            @:<div class="row">
            var tweet = Model.Skip(i).FirstOrDefault();
            <div class="tweet-box">
                <img src="@ViewBag.Avatar" alt="" class="avatar" />
                <p class="bolded-item">@tweet.Username</p>
                <p class="italic-item">@tweet.CreatedAt</p>
                <p>@tweet.Content</p>
                <p class="like">@(tweet.LikesCount) Likes</p>
                <div class="tweet-buttons">
                    <a class="btn btn-default">Favorite</a>
                    <a class="btn btn-primary">Retweet</a>
                    <a class="btn btn-danger">Report</a>
                    <a class="btn btn-info">Reply</a>
                    <a class="btn btn-success">Share</a>
                </div>
            </div>
            @:</div>
        }
    }
</div>

<nav>
    <ul class="pagination">
        @{
            int pageCount = (int)Math.Ceiling((decimal)ViewBag.TweetsCount / 10);
            for (int i = 1; i <= pageCount; i++)
            {
                int startPage = i - 1;@:
                <li><a href="/Home/Index?startPage=@startPage">@i</a></li>
            }
        }
    </ul>

</nav>

@section scripts{
    <script>
        $(function () {
            // obtain reference to the hub proxy and hub itself
            var theHub = $.connection.tweets;


            // this is the function that the server will call to broadcast new tweets
            theHub.client.broadcast = function (tweet) {
                var item = '<li>' + tweet.text + '</li>';
                $('ul.tweets').prepend(item);
            };

            // this is a function that indicates that connection to the hub has been successful
            $.connection.hub.start().done(function () {
                console.log("connected");
            });
        });
    </script>
}